body{
    font-family: "Commissioner", sans-serif;
}
h1{
    font-family:"ivyora-display";
}
h2{
    font-family:"ivyora-display";
    font-size: 42px;
}
h3{
    font-family:"ivyora-display";
    font-size: 32px;
}
h4{
    font-size: 17px;
}

.btn-primary{
    font-size: 14px;
    color: #0F0E0E;
    border: 1px solid #0F0E0E;
    border-radius: 999px;
    padding: 8px 30px;
    font-weight: 500;
    letter-spacing: 1.4px;
}
.custom-container{
    max-width: 1304px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


.swiper-pagination-bullet{
    background-color: #E5E3DE !important;
    width: 60px !important;
    border-radius: 50px !important;
    height: 2px !important;
}
#side-menu nav li a{
    font-family:"ivyora-display";
}
#newsletter p{
    font-family:"ivyora-display";
    font-size: 32px;
}
.inst-list {
    counter-reset: item;
    list-style: none;
    padding: 0;
}
.inst-list li{
    position: relative;
}
.inst-list li::before {
    counter-increment: item;
    content: counter(item, decimal-leading-zero) ". ";
    margin-right: 8px;
    font-weight: bold;
    font-size: 22px;
    color: #A8A491;
    position: absolute;
    top: 0px;
    left: 0px;
}
@media screen and (max-width: 1024px) {
    h1{
        font-family:"ivyora-display";
        font-size: 44px;
        font-weight: 400;
    }
    h2{
        font-family:"ivyora-display";
        font-size: 36px;
    }
    h3{
        font-size: 24px;
    }
    .swiper-slide h2{
        font-size: 44px;
    }
    #newsletter span{
        font-size: 32px;
    }
}

