body{
    font-family: "Commissioner", sans-serif;
}
h1{
    font-family:"ivyora-display";
}
h2{
    font-family:"ivyora-display";
}
h3{
    font-family:"ivyora-display";
    font-size: 32px;
}

.btn-primary{
    font-size: 14px;
    color: #0F0E0E;
    border: 1px solid #0F0E0E;
    border-radius: 999px;
    padding: 8px 30px;
    font-weight: 500;
    letter-spacing: 1.4px;
}
.custom-container{
    max-width: 1304px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


.swiper-pagination-bullet{
    background-color: #E5E3DE !important;
    width: 60px !important;
    border-radius: 50px !important;
    height: 2px !important;
}
#side-menu nav li a{
    font-family:"ivyora-display";
}
#newsletter p{
    font-family:"ivyora-display";
    font-size: 32px;
}
.inst-list {
    counter-reset: item;
    list-style: none;
    padding: 0;
}
.inst-list li{
    position: relative;
}
.inst-list li::before {
    counter-increment: item;
    content: counter(item, decimal-leading-zero) ". ";
    margin-right: 8px;
    font-weight: bold;
    font-size: 22px;
    color: #A8A491;
    position: absolute;
    top: 0px;
    left: 0px;
}
.faq-button::before{
    content: '';
    height: 0;
    width: 2px;
    background-color: #A8A491;
    position: absolute;
    right: 45px;
    transition: .3s;
}
.faq-button.active::before{
    height: 31.5px;
}

#datepicker{
    position: absolute;
    height: 38px;
    width: 146px;
    margin-top: -12px;
    margin-left: -85px;
    border-radius: 999px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    h3{
        font-size: 24px;
    }
    .swiper-slide h2{
        font-size: 44px;
    }
    #newsletter span{
        font-size: 32px;
    }
    #page-book{
        box-shadow: none
    }
}

#ui-datepicker-div{
    padding: 32px;
    height: 380px;
    max-width: 380px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #A8A491;
    background-color: #F0F0F0;
}
.ui-datepicker-calendar{
    width: 100%;
    margin-top: 28px;
}
.ui-datepicker-calendar thead span{
    font-size: 15px;
    font-weight: 400;
}
.ui-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.ui-datepicker-calendar td{
    width: 38px;
    height: 38px;
}
.ui-datepicker-calendar a{
    display: block;
    width: 38px;
    margin: 4px 0;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    width: 40px;
    text-align: center;
    cursor: pointer;
    color: transparent;
    filter: brightness(0) saturate(100%) invert(60%) sepia(10%) saturate(600%) hue-rotate(30deg);
    width: 20px;
}
.ui-datepicker-prev{
    background-image: url(../img/icons/chevron-left.png);
    
}
.ui-datepicker-next{
    background-image: url(../img/icons/chevron-right.png);
    
}
.ui-datepicker-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #A8A491;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    text-align: center;
    background-color: transparent !important;
    transition: .3s !important;
    color: #000 !important;
    border-radius: 4px;
    padding: 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default:hover{
    background-color: #A8A491 !important;
    color: #fff !important;
}

#ui-datepicker-div{
    margin-top: 8px;
    margin-left: -230px;
}